<h1 class="display-4">Welcome To Manage Platform</h1>
<p class="mb-4">This is a Sails.js app for Manage Platform</p>

<a href="/user/view-list" class="btn btn-light">View Users</a>
<a href="/user/view-add" class="btn btn-light">Add Users</a>
